body {
  margin: 2rem;
  padding: 0;
  font-family: sans-serif;
  background-color: #ccc;
  height: 100%;
}
div {
  margin: 0 auto;
}

.react-sigma {
  display: flex;
  height: 90vh !important;
  width: 90vw !important;
}
canvas {
  height: 90vh !important;
  width: 90vw !important;
  /* background-color: #ccc; */
}
